<footer class="footer">

  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>

  <small>
    <a href="http://www.bokehfire.com/">© 2013 BokehFire.com.</a> All rights reserved.
  </small>

</footer>
